auth:
  existingSecret: order-postgres-secret
  secretKeys:
    adminPasswordKey: POSTGRES_PASSWORD
    userPasswordKey: POSTGRES_PASSWORD
    
  database: orders
  username: orders

architecture: standalone

primary:
  persistence:
    enabled: true
    size: 1Gi
    storageClass: ""
    accessModes:
      - ReadWriteOnce
  
  service:
    type: ClusterIP
    ports:
      postgresql: 5432
  
  resources:
    limits:
      memory: 256Mi
      cpu: 500m
    requests:
      memory: 128Mi
      cpu: 250m
