name: Infra CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
            version: 'v3.19.2'

      - name: Install helmfile
        uses: helmfile/helmfile-action@v1
        with:
          helmfile-args: "version"

      - name: Helm lint
        run: helm lint charts/inventory-service charts/order-service

      - name: Helmfile lint
        run: helmfile lint

      - name: Helmfile template
        run: helmfile template
